## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [3]:
import pandas as pd

# загрузите датасет
df = pd.read_csv('vgsales.csv')
# после того датасет корректно загрузился, можно посмотреть на данные глазами
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые нужно найти ответ используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

*note*: обратите внимание на функции unique, nunique в Pandas

оригинал - https://pandas.pydata.org/docs/reference/api/pandas.unique.html

на русском - https://runebook.dev/ru/docs/pandas/reference/api/pandas.unique

In [30]:
# ваш код здесь
(df.nunique()).loc[['Name']]

Name    11493
dtype: int64

вопрос 2: Какова общая величина продаж игр в Японии?

In [34]:
# ваш код здесь
df[["JP_Sales"]].sum()

JP_Sales    1291.02
dtype: float64

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [44]:
# ваш код здесь
((df.sort_values(['NA_Sales','Genre'], ascending=[False, False]))).drop_duplicates (subset=['Genre']).head(3)

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [101]:
a=df.loc[(df['Year'] == 2005)]
a=a.Publisher.value_counts().head(1)
b=df.loc[(df['Year'] == 2015)]
b=b.Publisher.value_counts().head(1)
'2005',a,'2015',b

('2005',
 Publisher
 Electronic Arts    117
 Name: count, dtype: int64,
 '2015',
 Publisher
 Namco Bandai Games    68
 Name: count, dtype: int64)

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [97]:
# ваш код здесь
a=df.loc[(df['Year'] >= 2012) & (df['Year'] <= 2015)]
a.Publisher.value_counts().head(1)

Publisher
Namco Bandai Games    285
Name: count, dtype: int64

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [138]:
# ваш код здесь
a=df[['Genre','EU_Sales']]
a=a.groupby("Genre").sum()
a.at['Sports', 'EU_Sales']/a["EU_Sales"].sum()*100

15.48191756397563